<table mat-table class="full-width-table" matSort aria-label="Elements">
  <!-- Id Column -->
  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
    <td mat-cell *matCellDef="let row">
      <mat-chip-list aria-label="Current Wallet" *ngIf="!row.isCurrentWallet">
        <mat-chip>{{ row.address }}</mat-chip>
      </mat-chip-list>
      <mat-chip-list aria-label="Current Wallet" *ngIf="row.isCurrentWallet">
        <mat-chip color="primary" selected>{{ row.address }}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="privilege">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Privilege</th>
    <td mat-cell *matCellDef="let row">
      <span *ngIf="row.purpose == 1">Manage & Execute</span>
      <span *ngIf="row.purpose == 2">Execute</span>
    </td>
  </ng-container>

  <!-- Name Column -->
  <!-- <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let row">{{ row.keyType }}</td>
  </ng-container> -->

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="header-align-right">Action</th>
    <td mat-cell *matCellDef="let element" class="action-link header-align-right">
      <button color="warn" mat-stroked-button (click)="removePrivilege(element)">
        Remove
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  #paginator
  [length]="dataSource?.data.length"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[10, 20, 30]"
>
</mat-paginator>
