<form [formGroup]="newKeyForm" (submit)="saveNewKey(newKeyForm)">
  <p>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Address</mat-label>
      <mat-icon matPrefix>vpn_key</mat-icon>
      <input matInput formControlName="address" />
      <mat-error *ngIf="newKeyForm.controls['address'].hasError('isETHAddress')">
        ETH Address check failed
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Privilige</mat-label>
      <mat-icon matPrefix>security</mat-icon>
      <mat-select formControlName="privileges" [multiple]="true">
        <mat-option [value]="2">Execution </mat-option>
        <mat-option [value]="1">Management</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <div style="text-align: right">
    <button mat-button style="margin-right: 10px" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Add Key</button>
  </div>
</form>
