@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
  margin-bottom: 30px;
  opacity: 0.1;
}
h1 {
  color: white;
}
.overview-list {
  grid-template-columns: repeat(none, minmax(150px, 1fr));

  li {
    overflow: hidden;
    @include ambientShadow;
  }
}

h3 {
  display: inline;
  text-transform: uppercase;
  color: #968e8e;
  font-size: 12px;
}

.amount,
.symbol {
  color: black;
}

.amount {
  font-weight: bold;
  font-size: 30px;
}
.symbol {
  opacity: 0.8;
}

img {
  border-radius: 20px;
  background: #fff;
  transform: scale(4.5);
  position: relative;
  top: -22px;
  left: 145px;
  opacity: 0.6;
}
