<h1>Who are you?</h1>
<h2>Step 2 of 3</h2>
<form [formGroup]="form" (submit)="submit(form)">
  <h3>Enter personal info</h3>

  <p>
    <mat-form-field class="form-field" [floatLabel]="'always'">
      <mat-label>Nickname</mat-label>
      <input matInput formControlName="nickName" [attr.data-cy]="'edit-public-data__nickName'" />
      <mat-error *ngIf="form.controls['nickName'].hasError('isRequired')">
        ETH Address check failed
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="form-field" [floatLabel]="'always'">
      <mat-label>Bio</mat-label>
      <textarea
        rows="3"
        matInput
        #bio
        formControlName="bio"
        maxlength="256"
        [attr.data-cy]="'edit-public-data__bio'"
      ></textarea>
      <mat-hint align="end">{{ bio.value.length }} / 256</mat-hint>
      <mat-error *ngIf="form.controls['bio'].hasError('isRequired')"> Bio is required. </mat-error>
    </mat-form-field>
  </p>

  {{ this.accountData$ | async | json }}

  <br /><br />
  <div class="page-actions">
    <div>
      <button mat-button type="button" (click)="back()">Previous</button>&nbsp;
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [attr.data-cy]="'edit-public-data__confirm'"
      >
        <!-- [disabled]="form.pristine" -->
        Next
      </button>
    </div>
  </div>
</form>
