<h1>Who are you?</h1>
<span class="subtitle">Step 2 of 3</span>
<form [formGroup]="form" (submit)="submit(form)">
  <p>Enter personal info</p>
  <p>
    <mat-form-field class="form-field" [floatLabel]="'always'">
      <mat-label>Nickname</mat-label>
      <input matInput formControlName="nickName" [attr.data-cy]="'edit-public-data__nickName'" />
      <mat-error>Nickname is required.</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="form-field" [floatLabel]="'always'">
      <mat-label>Bio</mat-label>
      <textarea
        rows="3"
        matInput
        #bio
        formControlName="bio"
        maxlength="256"
        [attr.data-cy]="'edit-public-data__bio'"
      ></textarea>
      <mat-hint align="end">{{ bio.value.length }} / 256</mat-hint>
      <mat-error> Bio is required. </mat-error>
    </mat-form-field>
  </p>

  <input
    matInput
    formControlName="image"
    [attr.data-cy]="'edit-public-data__nickName'"
    style="display: none"
  />

  <br /><br />
  <div class="page-actions">
    <div>
      <button mat-stroked-button type="button" (click)="back()">Previous</button>&nbsp;
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [attr.data-cy]="'edit-public-data__confirm'"
      >
        <!-- [disabled]="form.pristine" -->
        Next
      </button>
    </div>
  </div>
</form>
