:host {
  display: block;
}

mat-chip {
  &:hover {
    cursor: pointer;
  }
}

.mat-card-actions {
  padding-bottom: 20px !important;
}

mat-toolbar {
  background: rgba(0, 0, 0, 0.2);
}

.mat-card-header {
  padding-top: 10px;
}
.wrapper {
  display: flex;
}
.wallet {
  overflow: hidden;
  width: 400px;
  background: rgba(#6e43b9, 1);

  h1 {
    font-size: 12px;
  }
}

.wordmark {
  height: 20px;
  opacity: 0.2;
}

.balance {
  line-height: 1.5;
}

.balance--lyx {
  font-size: 30px;
}

.balance--dollar {
  font-size: 20px;
}

.header {
  display: flex;
}

.lyx-logo {
  height: 40px;
  width: 40px;
}

.balances {
  height: 100px;
}

.info {
  position: absolute;
  right: 20px;
  bottom: 10px;
  text-align: center;
  &:hover {
    img {
      cursor: pointer;
    }
  }
}

.actions {
  button {
    background: white;
    color: black;
  }
}
