<ng-container *ngIf="account$ | async as account; else noAccount">
  <ng-container *ngIf="errorMessage.message">
    <h1 class="mat-display-1">{{ errorMessage?.title }}</h1>
    <h2 class="mat-h2" [innerHTML]="errorMessage?.message"></h2>
  </ng-container>

  <ng-container *ngIf="!errorMessage.message">
    <mat-card>
      <mat-toolbar>
        <span>Account</span>
      </mat-toolbar>

      <mat-card-content class="wallet">
        <br />
        <img [src]="account.qrCode" /><br />
        <br />
        <code>{{ account.address }}</code>
        <br />
        <br />
        <h1>{{ account.balance | number: '0.4' }} LYX</h1>
        <span>$ {{ account.balance | cmcPrice | async | number: '0.0-2' }}</span>
      </mat-card-content>

      <mat-card-actions *ngIf="account.isExecutable || account.isManagable" class="wallet">
        <button mat-raised-button class="btn-success" (click)="topUp(account)">
          <span>Top Up</span>
        </button>
        <button mat-raised-button color="primary" (click)="withdraw(account)">
          <span>Withdraw</span>
        </button>
        <!-- <button
            *ngIf="stage === Stages.CustomContract"
            [disabled]="!account.isExecutable"
            class="button is-success"
            (click)="lockFunds(account.address)"
        >
            Lock Funds
        </button> -->
      </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="account.isManagable">
      <lukso-key-manager [contractAddress]="account.owner"></lukso-key-manager>
    </mat-card>
  </ng-container>
</ng-container>
<ng-template #noAccount>
  <lukso-progress></lukso-progress>
</ng-template>
