<ng-container *ngFor="let account of accounts$ | async">
  <div class="box">
    <h1 class="title">
      <!-- {{ account.nickName ? account.nickName : 'Wallet' }} -->
      Wallet
      <!-- <button
        class="button is-small is-dark"
        (click)="setNickName(account.address, nickName.value)"
      >
        Set Nickname
      </button> -->
    </h1>
    <div class="hero-body">
      <div class="container has-text-centered">
        <code>{{ account.address }}</code>
        <br />
        <br />
        <h1 class="title">{{ account.balance | number: '0.4' }} LYX</h1>
        <h2 class="subtitle">
          XY USD
        </h2>
      </div>
    </div>

    <!-- <td>
      {{ account.nickName }}
       [ngClass]="{ 'is-loading': true }"
    </td> -->

    <div class="buttons is-centered">
      <button class="button is-info" (click)="topUp(account.address)">
        <span class="icon is-small"> <i class="fa fa-sign-in-alt"></i></span
        ><span> Top up 2 LYX</span>
      </button>
      <button
        class="button is-warning"
        [disabled]="!account.isExecutable"
        (click)="withdraw(account.address)"
      >
        <span class="icon">
          <i class="fa fa-sign-out-alt"></i>
        </span>
        <span>Withdraw 2 LYX</span>
      </button>
      <button
        *ngIf="stage === Stages.CustomContract"
        [disabled]="!account.isExecutable"
        class="button is-success"
        (click)="lockFunds(account.address)"
      >
        Lock Funds
      </button>
    </div>
    <div class="is-size-7 has-text-centered">Owner: {{ account.owner }}</div>
    <br />
  </div>
</ng-container>
