@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding-top: 100px;
}

.warning {
  @include corners;
  @include paddedContent;
  background: #ff5757d7;
  color: rgb(77, 0, 0);
  a {
    color: black;
  }
}

.mat-card-avatar {
  text-align: center;
  mat-icon {
    font-size: 35px;
  }
}
