<mat-toolbar [ngClass]="{ blue: colouredIcon }">
  <img
    *ngIf="colouredIcon"
    src="/assets/coaster-logo-blue.png"
    class="coaster-logo"
    [routerLink]="'/'"
  />
  <img
    *ngIf="!colouredIcon"
    src="/assets/coaster-logo-white.png"
    class="coaster-logo"
    [routerLink]="'/'"
  />
  <nav class="nav" role="navigation">
    <a
      class="nav-link"
      [routerLink]="['/accounts', accountAddress]"
      [routerLinkActive]="'nav-link--active'"
      [routerLinkActiveOptions]="{ exact: true }"
      [attr.data-cy]="'layout__nav__home'"
      >Overview</a
    >

    <a
      class="nav-link nav-link--deactivated"
      [routerLink]="[accountAddress, 'wallet']"
      [attr.data-cy]="'layout__nav__wallet'"
      >Wallet</a
    >
  </nav>

  <div></div>

  <div class="user">
    <div class="user__notifications">
      <button mat-icon-button aria-label="Notifications">
        <mat-icon matBadgeColor="primary">notifications_none</mat-icon>
      </button>
    </div>

    <div class="user__selection">
      <img src="/assets/portrait-placeholder-small.jpg" matRipple [matMenuTriggerFor]="menu" />
    </div>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Switch Account</span>
      </button> -->
      <button mat-menu-item [routerLink]="['/accounts', accountAddress, 'profile']">
        <mat-icon>settings</mat-icon>
        <span>Account Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
