<mat-toolbar [ngClass]="{ blue: colouredIcon }">
  <img
    *ngIf="colouredIcon"
    src="/assets/coaster-logo-blue.png"
    class="coaster-logo"
    [routerLink]="'/'"
  />
  <img
    *ngIf="!colouredIcon"
    src="/assets/coaster-logo-white.png"
    class="coaster-logo"
    [routerLink]="'/'"
  />
  <nav class="nav" role="navigation">
    <a
      class="nav-link"
      [routerLinkActive]="'nav-link--active'"
      [routerLink]="'/'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>Home</span>
    </a>
    <a
      class="nav-link"
      *ngIf="accountAddress"
      [routerLink]="['/accounts', accountAddress]"
      [routerLinkActive]="'nav-link--active'"
      [routerLinkActiveOptions]="{ exact: true }"
      [attr.data-cy]="'layout__nav__home'"
      ><span>Profile</span></a
    >

    <a
      class="nav-link nav-link"
      *ngIf="accountAddress"
      [routerLink]="['/accounts', accountAddress, 'wallet']"
      [routerLinkActive]="'nav-link--active'"
      [routerLinkActiveOptions]="{ exact: true }"
      [attr.data-cy]="'layout__nav__wallet'"
      ><span>Wallet</span></a
    >
  </nav>

  <div></div>

  <div class="user">
    <!-- <div class="user__notifications">
      <button mat-icon-button aria-label="Notifications">
        <mat-icon matBadgeColor="primary">notifications_none</mat-icon>
      </button>
    </div> -->

    <div
      *ngIf="(data | async)?.image as image"
      class="user__selection"
      matRipple
      [matMenuTriggerFor]="menu"
      style="background-image: url('https://ipfs.io/ipfs/{{ image }}')"
    ></div>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Switch Account</span>
      </button> -->
      <button mat-menu-item [routerLink]="['/accounts', accountAddress, 'profile']">
        <mat-icon>settings</mat-icon>
        <span>Account Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
