@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
  position: relative;
  z-index: 1000;
}

mat-toolbar {
  display: grid;
  grid-template-columns: minmax(20px, 40px) 80px min-content 1fr 140px minmax(20px, 40px);
  grid-template-rows: 100px;
  grid-template-areas: '. logo nav . user .';
  background: none;
  padding: 0;

  a {
    font-size: 16px;
  }

  &.blue {
    .nav-link {
      color: black;
    }
  }
}

.coaster-logo {
  display: block;
  grid-area: logo;
  height: 40px;
}

.nav {
  grid-area: nav;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  padding-right: 40px;
  color: white;
  opacity: 0.5;
}

.nav-link:hover,
.nav-link--active {
  opacity: 1;
  span {
    position: relative;
    display: inline-block;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: white;
    }
  }
}

.nav-link--deactivated {
  opacity: 0.1;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: user;
  height: 100px;
}

.user__notifications {
  position: relative;
  line-height: 100px;
  width: 50px;

  mat-icon {
    position: relative;
    top: -3px;
    font-size: 35px;
    display: inline-block;
    color: white;
  }
}
.user__selection {
  height: 50px;
  border-radius: 100%;
  background: url('/assets/portrait-placeholder-small.png');
  background-size: contain;
  background-position: center center;
  filter: grayscale(1);
  border: 3px solid white;
  @include ambientShadow;
  width: 50px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
