@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
}

.full-width-table {
  width: 100%;
}

.header-align-right {
  text-align: right;
  justify-content: flex-end;
}

.mat-table {
  background: rgba(255, 255, 255, 0.1);
  @include corners;
  overflow: hidden;
}

mat-chip-list {
  display: inline-block;
}
