@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 300px));
  grid-template-rows: 200px;
  gap: 30px;
}

.full-width-table {
  width: 100%;
}

.header-align-right {
  text-align: right;
  justify-content: flex-end;
}

.mat-table {
  background: rgba(255, 255, 255, 0.1);
  @include corners;
  overflow: hidden;
}

mat-chip-list {
  display: inline-block;
}

mat-chip.mat-standard-chip {
  background-color: #ec54a1;
  color: white;
  padding: 20px;
  font-size: 16px;
}

.card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  align-content: space-between;
  overflow: hidden;
  height: 200px;
  @include paddedContent(20px);
  @include corners;
  background: white;
}

.card--add-key {
  border: 2px dashed rgba(255, 255, 255, 0.4);
  @include paddedContent(20px, transparent);
  display: flex;
  flex-flow: row;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.6;

  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
  }
}

h2 {
  color: black;
}

mat-icon.background-icon {
  position: absolute;
  left: -100px;
  top: -180px;
  width: 300px;
  height: 200px;
  font-size: 500px;
  color: rgba(128, 128, 128, 0.1);
}

.menu-button {
  position: absolute;
  top: 15px;
  right: 15px;
  color: black;
  background: rgba(0, 0, 0, 0.1);
}
