<ng-container *ngIf="balance$ | async as balance" class="content box">
  <h1 class="title">LUKSO</h1>
  <h2 class="subtitle">Reversible ICO</h2>
  <div class="grid">
    <div style="position: relative;">
      <img src="https://rico.lukso.network/images/lukso_token_logo.png" />
      <div
        class="hexagon-container"
        [ngStyle]="{ height: (100 - balance.percentage | number) + '%' }"
      >
        <div class="hexagon"></div>
      </div>
    </div>
    <div class="stats">
      <div>
        <h3 class="stats__label">Available:</h3>
        <span class="stats__percentage is-size-2"
          >{{ balance.percentage | number: '1.1-1' }}%<br
        /></span>
        {{ balance.tokens || 1000000 | shortNumber }} LYXe<br />
      </div>
    </div>
  </div>
  <lukso-spinner [dataLoaded]="dataLoaded$ | async"></lukso-spinner>
  <div class="last-updated">Last updated: {{ updatedAt | timeAgo }}</div>
</ng-container>
