@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
}

.message {
  padding: 50px;
}

.content {
  @include paddedContent;
}

.mat-card-header-text {
  padding: 0;
}

a {
  color: white;
}
