:host {
  display: block;
  background: rgba(255, 255, 255, 0.3);
  padding: 50px;
  border-radius: 10px;
}

.message {
  padding: 50px;
}

.mat-card-header-text {
  padding: 0;
}

a {
  color: white;
}
