<ng-container *ngIf="transactionInfo$ | async as transactionInfo">
  <div class="loading-overlay" *ngIf="transactionInfo">
    <div>
      <h1>{{ transactionInfo.title }}</h1>
      <ng-container *ngIf="transactionInfo.from">
        <span class="mat-small">From</span>
        <div class="card">
          <span class="label mat-small"
            ><mat-chip class="wallet">{{ transactionInfo.from.type }}</mat-chip></span
          >
          <div class="value address">
            {{ transactionInfo.from.address }}
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="transactionInfo.to">
        <span class="mat-small">To</span>
        <div class="card">
          <span class="label"
            ><mat-chip class="account">{{ transactionInfo.to.type }}</mat-chip></span
          >
          <div class="value address">
            {{ transactionInfo.to.address }}
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="transactionInfo.value">
        <span class="mat-small">Value</span>
        <div class="card">
          <p class="value amount">{{ transactionInfo.value }} LYX</p>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
