<h1>Upload an Image</h1>
<span class="subtitle">Step 1 of 3</span>
<p>Add Profile Picture</p>
<div class="image-placeholder" luksoAppDnd (fileDropped)="onFileDropped($event)">
  <img [src]="imageSource" id="cropper" />
  <div class="droppable"></div>
</div>
<input
  type="file"
  #fileDropRef
  id="fileDropRef"
  multiple
  (change)="fileBrowseHandler($event.target.files)"
/>
<div class="page-actions">
  <div>
    <button mat-stroked-button (click)="cancel()">Cancel</button>&nbsp;
    <button mat-raised-button color="primary" (click)="next()">Next</button>
  </div>
</div>
