<h1>Upload an Image</h1>
<span class="subtitle">Step 1 of 3</span>

<p>Add Profile Picture</p>

<div class="image-placeholder" luksoAppDnd (fileDropped)="onFileDropped($event)">
  <img [src]="imageSource$ | async" id="cropper" />
  <div class="uploading" *ngIf="uploading">
    Uploading to IPFS<br />
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
</div>

<input
  #fileDropRef
  type="file"
  id="fileDropRef"
  class="image-file"
  multiple
  (change)="fileBrowseHandler($event.target.files)"
/>

<label for="fileDropRef" class="mat-raised-button mat-button-base mat-primary">
  <ng-container *ngIf="file">{{ file.name }}</ng-container>
  <ng-container *ngIf="!file">Choose a file</ng-container>
</label>

<div class="page-actions">
  <div>
    <button mat-stroked-button (click)="cancel()" [attr.data-cy]="'image-editor__cancel-key'">
      Cancel</button
    >&nbsp;
    <button
      mat-raised-button
      color="primary"
      (click)="next()"
      [attr.data-cy]="'image-editor__next-key'"
    >
      Next
    </button>
  </div>
</div>
