@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
}

.checkbox {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  @include corners(5px);
  @include ambientShadow;
}

.checkbox--all {
  padding: 10px;
}

.page-title {
  position: sticky;
  top: 0;
  width: 100%;
  transition: 0.2s;
  background: white;
  h1 {
    margin: 0;
  }
}

.error-message {
  padding-top: 11px;
}
