:host {
  display: block;
}

.overview-list {
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    position: relative;
    text-align: center;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #968e8e;
  margin-bottom: 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img {
  mix-blend-mode: multiply;
  padding: 20px;
  max-width: 200px;
  max-height: 90px;
}
