@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
  padding: 0 50px 50px;
}
h1 {
  font-size: 40px;
}
.overview-list {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
