<article class="message is-danger">
  <div class="message-header">
    <p>Wrong Network</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    <p>
      Please connect to the
      <a href="https://medium.com/lukso/announcing-the-l14-test-network-38d7c622c6cb"
        >L14 testnet</a
      >
      of LUKSO. The easiest way to do so is to add a new Network (<a
        href="http://rpc.l14.lukso.network"
        >http://rpc.l14.lukso.network</a
      >) to Metamask.
    </p>
    <br />
    <p>
      To get started you need some testnet “LYX” to pay for the transactions. You can get some using
      the <a href="http://faucet.l14.lukso.network/" target="_blank">L14 faucet.</a>
    </p>
  </div>
</article>
