@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
}

.cards {
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  gap: 30px;
}

.full-width-table {
  width: 100%;
}

.header-align-right {
  text-align: right;
  justify-content: flex-end;
}

.mat-table {
  background: rgba(255, 255, 255, 0.1);
  @include corners;
  overflow: hidden;
}

mat-chip-list {
  display: inline-block;
}

mat-chip.privilege {
  color: white;
  padding: 20px;
  font-size: 12px;
  background: linear-gradient(136deg, #7b4397 8.02%, #dc2430 95.8%);
}

mat-chip.privilege--execution {
  background: linear-gradient(90deg, #146347 0%, #39985d 100%);
}

mat-chip.privilege--recovery {
  background: linear-gradient(90deg, #142263 0%, #396898 100%);
}

.card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  overflow: hidden;
  @include paddedContent(20px);
  @include corners;
  @include ambientShadow(#000000, 2);
  background: white;
}

.card--add-key {
  @include paddedContent(20px, transparent);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.6;
  background: white;

  &:hover {
    cursor: pointer;
  }

  span {
    font-weight: 500;
  }
}

h2 {
  color: black;
  opacity: 1;
  font-weight: bold;
}

mat-icon.background-icon {
  position: absolute;
  right: 100px;
  top: -130px;
  width: 300px;
  font-size: 400px;
  color: rgba(128, 128, 128, 0.05);
}

.menu-button {
  position: absolute;
  top: 15px;
  right: 15px;
  color: black;
  background: rgba(0, 0, 0, 0.1);
}
