<h1>Manage Access</h1>
<section>
  <div *ngIf="!keyManagerContract" class="loading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <lukso-priviliges
    *ngIf="keyManagerContract && keyManagerData$ | async as keyManagerData"
    (removeKey)="removeKey($event)"
    (showEditDialog)="onShowEditDialog($event)"
    [keys]="keyManagerData"
  ></lukso-priviliges>
  <br />
  <button
    mat-raised-button
    (click)="openDialog('Grant Access', {})"
    [attr.data-cy]="'keymanager__add-key'"
  >
    <span>Grant Access</span>&nbsp;
    <mat-icon>add_box</mat-icon>
  </button>
</section>
