<h1>Profile</h1>
<form [formGroup]="form" (submit)="submit(form)">
  <div class="image-placeholder">
    <img src="/assets/portrait-placeholder.png" id="cropper" />
  </div>
  <p>
    <mat-form-field class="form-field" [floatLabel]="'always'">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" [attr.data-cy]="'edit-public-data__firstName'" />
      <mat-error *ngIf="form.controls['firstName'].hasError('isRequired')">
        ETH Address check failed
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="form-field" [floatLabel]="'always'">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" [attr.data-cy]="'edit-public-data__lastName'" />
      <mat-error *ngIf="form.controls['lastName'].hasError('isRequired')">
        ETH Address check failed
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="form-field" [floatLabel]="'always'">
      <mat-label>Bio</mat-label>
      <textarea
        rows="3"
        matInput
        #bio
        formControlName="bio"
        maxlength="256"
        [attr.data-cy]="'edit-public-data__bio'"
      ></textarea>
      <mat-hint align="end">{{ bio.value.length }} / 256</mat-hint>
      <mat-error *ngIf="form.controls['bio'].hasError('isRequired')">
        ETH Address check failed
      </mat-error>
    </mat-form-field>
  </p>

  <br /><br />
  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.pristine"
      [attr.data-cy]="'edit-public-data__confirm'"
    >
      Save
    </button>
  </div>
</form>
