@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
  padding: 0 50px;
}
.form-field {
  display: block;
}

h1 {
  font-weight: bold;
}

form {
  width: 70%;
}

.image-placeholder {
  width: 250px;
  overflow: hidden;
  max-width: 400px;
  max-height: 600px;
  @include corners;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.mat-raised-button {
  padding: 10px 30px !important;
}

img {
  max-width: 100%;
}
