<h1 mat-dialog-title>Confirm Amount</h1>

<div mat-dialog-content [formGroup]="form">
  <p *ngIf="viewType === 'send'">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Address</mat-label>
      <mat-icon matPrefix>vpn_key</mat-icon>
      <input matInput formControlName="address" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="form-field" appearance="fill">
      <mat-hint align="end">{{ percentage }} %</mat-hint>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button class="btn-success" [mat-dialog-close]="getReturnValues()">
    {{ confirmLabel }}
  </button>
</div>
