:host {
  display: block;
  padding: 50px;
}
h1 {
  padding-bottom: 20px;
}
p {
  position: relative;
}

.form-field {
  display: block;
}

.slider {
  margin-top: 16px;
  height: 60px;
  width: 100%;
}

mat-icon {
  padding-right: 10px;
}

mat-hint {
  text-align: center;
}

.mat-form-field-suffix {
  top: 0;
}

input.text-align-right {
  text-align: right;
}
