:host {
  display: block;
  height: calc(100vh - 5px);
  box-sizing: border-box;
}

lukso-navigation {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
