<lukso-loading-inline [loading]="loading"></lukso-loading-inline>
<ng-container *ngIf="account$ | async as account">
  <ng-container *ngIf="errorMessage.message">
    <h1 class="mat-display-1">{{ errorMessage?.title }}</h1>
    <h2 class="mat-h2" [innerHTML]="errorMessage?.message"></h2>
  </ng-container>

  <div class="wrapper" *ngIf="!errorMessage.message && !loading">
    <mat-card class="wallet">
      <mat-card-content>
        <div class="balances">
          <div class="balance balance--lyx" [attr.data-cy]="'wallet__value'">
            {{ account.balance | number: '0.0-4' }} LYX
          </div>
          <div class="balance balance--dollar">
            $ {{ account.balance | cmcPrice | async | number: '0.0-2' }}
          </div>
        </div>
        <div class="qr-code">
          <img [src]="account.qrCode" (click)="navigateToBlockExplorer(account.address)" /><br />
        </div>
        <div class="actions" *ngIf="account.isExecutable || account.isManagable">
          <button mat-stroked-button (click)="topUp(account)" [attr.data-cy]="'wallet__top-up'">
            <span>Top Up</span>
          </button>
          &nbsp;
          <button
            mat-stroked-button
            (click)="openWithdrawDialog(account)"
            [attr.data-cy]="'wallet__withdraw'"
          >
            <span>Withdraw</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <mat-card *ngIf="account.isManagable">
    <lukso-key-manager [contractAddress]="account.owner"></lukso-key-manager>
  </mat-card>
  <lukso-progress [stage]="account.stage"></lukso-progress> -->
</ng-container>
