<!-- <lukso-loading-inline [loading]="loading"></lukso-loading-inline> -->

<ng-container *ngIf="account$ | async as account">
  <div class="wrapper" *ngIf="!loading">
    <!-- <lukso-qr-code [address]="account.address"></lukso-qr-code> -->
    <mat-card class="wallet shadow">
      <mat-card-content>
        <div class="account-address">{{ account.address }}</div>
        <div class="balances">
          <div class="balance balance--lyx" [attr.data-cy]="'wallet__value'">
            {{ account.balance | number: '0.0-3' }} LYX
          </div>
          <div class="balance balance--dollar">
            <div *ngIf="account.balance === 0">$0</div>
            <div *ngIf="account.balance !== 0">
              <ng-container *ngIf="account.balance | cmcPrice | async as balance; else loading"
                >${{ account.balance | cmcPrice | async }}
              </ng-container>
              <ng-template #loading>
                <mat-spinner [diameter]="45"></mat-spinner>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="actions" *ngIf="account.isExecutable || account.isManagable">
          <button mat-stroked-button (click)="topUp(account)" [attr.data-cy]="'wallet__top-up'">
            <span>Top Up</span>
          </button>
          &nbsp;
          <button
            mat-stroked-button
            (click)="openWithdrawDialog(account)"
            [attr.data-cy]="'wallet__withdraw'"
          >
            <span>Withdraw</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
