<!-- <lukso-loading-inline [loading]="loading"></lukso-loading-inline> -->

<ng-container *ngIf="account$ | async as account">
  <div class="wrapper" *ngIf="!loading">
    <mat-card class="wallet shadow">
      <lukso-pending-transaction
        [filter]="pendingTransactionsFilter"
        class="inlined"
      ></lukso-pending-transaction>
      <mat-card-content>
        <div class="balances">
          <div class="balance balance--lyx" [attr.data-cy]="'wallet__value'">
            {{ account.balance | number: '0.0-3' }} LYX
          </div>
          <div class="balance balance--dollar">
            $ {{ account.balance | cmcPrice | async | number: '0.0-2' }}
          </div>
        </div>

        <!-- <lukso-qr-code [address]="account.address"></lukso-qr-code> -->

        <div class="actions" *ngIf="account.isExecutable || account.isManagable">
          <button mat-stroked-button (click)="topUp(account)" [attr.data-cy]="'wallet__top-up'">
            <span>Top Up</span>
          </button>
          &nbsp;
          <button
            mat-stroked-button
            (click)="openWithdrawDialog(account)"
            [attr.data-cy]="'wallet__withdraw'"
          >
            <span>Withdraw</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
