@import '/apps/rtm/src/style-mixins.scss';

:host {
  position: relative;
  display: flex;
  height: 202px;
  margin-bottom: 30px;
  width: 100%;
}

mat-chip {
  &:hover {
    cursor: pointer;
  }
}

mat-card {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 100%;
  align-self: stretch;
  margin: 0;
}

.wrapper {
  display: flex;
  flex: 0 0 100%;
  align-self: stretch;
}

.wallet {
  overflow: hidden;
  background: rgba(#6e43b9, 0.7);
  background-image: linear-gradient(
    to right,
    #b8868d,
    #bc8b97,
    #bf91a2,
    #c197ac,
    #c29db6,
    #be98b6,
    #b994b6,
    #b390b6,
    #a680ae,
    #9870a6,
    #89619e,
    #795397
  );
  @include corners;
  @include ambientShadow;
  padding: 20px 30px;
  width: 70%;
  color: white !important;

  //   span {
  //     opacity: 0.5;
  //   }
  h2 {
    font-size: 14px;
  }
}

.balances {
  line-height: 1.3;
}

.balance--lyx {
  font-weight: bold;
  font-size: 40px;
}

.balance--dollar {
  font-size: 20px;
  opacity: 0.5;
}

.header {
  display: flex;
}

.lyx-logo {
  height: 40px;
  width: 40px;
}

.balances {
  height: 100px;
}

lukso-qr-code {
  position: absolute;
  right: 30px;
  bottom: 25px;
}

.actions {
  button {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #342441;

    &:hover {
      color: black;
      background: rgba(255, 255, 255, 0.9);
    }
  }
}
