<div *ngIf="vault$ | async as vault" class="vault" [ngClass]="{ 'vault--locked': vault.isLocked }">
  <div class="content box">
    Account Balance:<br />
    <span class="is-size-2">
      <b>{{ vault.balanceAccount | number: '0.4' }} ETH</b></span
    >
    <br />

    <lukso-lock-button
      [hasPendingTransaction]="transactions.locking"
      (lockFunds)="onLockFunds()"
    ></lukso-lock-button>
  </div>
  <div class="notification is-success">
    Vault Balance: <br />
    <span class="is-size-2"
      ><b>{{ vault.balanceVault | number: '0.4' }} ETH</b></span
    >
    <br />
    <lukso-withdraw-button
      [hasPendingTransaction]="transactions.withdrawing"
      [vaultLocked]="vault.isLocked"
      (withdrawFunds)="onWithdrawFunds()"
    ></lukso-withdraw-button>
    <span *ngIf="vault.isLocked" class="icon is-large">
      <i class="fas fa-3x fa-lock"></i>
    </span>
  </div>
</div>
