<ng-container *ngIf="!deploymentInProgress">
  <h1>Confirm the Deployment</h1>
  <h2>Lorem, ipsum dolor sit amet</h2>
  <p>
    Quod omnis rem laboriosam cupiditate eum blanditiis, deleniti impedit aperiam eligendi aut quas,
    tenetur velit autem laborum provident suscipit nam necessitatibus. Nesciunt?
  </p>
</ng-container>

<ng-container *ngIf="deploymentInProgress">
  <h1>Deployment In Progress</h1>
  <h2>Your Account is being deployed.</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod omnis rem laboriosam cupiditate
    eum blanditiis, deleniti impedit aperiam eligendi aut quas, tenetur velit autem laborum
    provident suscipit nam necessitatibus. Nesciunt?
  </p>
</ng-container>
