<h1>Manage Public Data</h1>
<div class="public-data" *ngIf="accountKeyValueInfos$ | async as data">
  <h2 class="key">First Name</h2>
  <p class="value">{{ data.firstName }}</p>
  <h2 class="key">Last Name</h2>
  <p class="value">{{ data.lastName }}</p>
  <h2 class="key">Bio</h2>
  <p class="value">{{ data.bio }}</p>
  <button
    mat-raised-button
    color="primary"
    [attr.data-cy]="'keyValue__add-key'"
    (click)="setData(data)"
  >
    <span>Update Profile</span>&nbsp;
    <!-- <mat-icon>add_box</mat-icon> -->
  </button>
</div>
