@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
  margin-bottom: 30px;
  background: yellow;
}

th {
  color: black;
}

.key {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
}

.value {
  font-size: 18px;
}

.public-data {
  @include paddedContent;
  @include corners;

  p {
    span {
      color: black;
    }
  }
}
