<h1>Public Data</h1>
<div class="public-data" *ngIf="accountKeyValueInfos$ | async as data">
  <ng-container *ngIf="!data.nickName && !data.bio">
    <h2>Account - ERC725</h2>
    <p>
      Here you are going to be able to edit the key -> value pairs of data on your account. For now
      it's restricted to <span>First Name</span>, <span>Last Name</span> and <span>Bio</span>.
    </p></ng-container
  >

  <ng-container *ngIf="data.nickName">
    <h2 class="key">Nick Name</h2>
    <p class="value">{{ data.nickName }}</p>
  </ng-container>

  <ng-container *ngIf="data.bio">
    <h2 class="key">Bio</h2>
    <p class="value">{{ data.bio }}</p>
  </ng-container>
  <button
    mat-raised-button
    color="primary"
    [attr.data-cy]="'keyValue__add-key'"
    (click)="setData(data)"
  >
    <span>
      {{
        !data.firstName && !data.lastName && !data.bio ? 'Initialize Profile' : 'Update Profile'
      }}</span
    >&nbsp;
    <!-- <mat-icon>add_box</mat-icon> -->
  </button>
</div>
