<ng-container *ngIf="showWrongNetworkError$ | async as warn">
  <div class="wrapper" *ngIf="warn.showWarning === false">
    <mat-toolbar>
      <img src="/assets/coaster-logo-white.png" class="coaster-logo" />
      <div>
        <nav>
          <a class="nav-link" [routerLink]="[accountAddress]" [attr.data-cy]="'layout__nav__home'"
            >All</a
          >
          <a
            class="nav-link"
            [routerLink]="[accountAddress, 'account']"
            [attr.data-cy]="'layout__nav__account'"
            >Account</a
          >
          <a
            class="nav-link"
            [routerLink]="[accountAddress, 'claims']"
            [attr.data-cy]="'layout__nav__claims'"
            >Claims</a
          >
          <a
            class="nav-link"
            [routerLink]="[accountAddress, 'wallet']"
            [attr.data-cy]="'layout__nav__wallet'"
            >Wallet</a
          >
          <a
            class="nav-link"
            [routerLink]="[accountAddress, 'tokens']"
            [attr.data-cy]="'layout__nav__tokens'"
            >Tokens</a
          >
          <a
            class="nav-link"
            [routerLink]="['accounts', accountAddress, 'nfts']"
            [attr.data-cy]="'layout__nav__nfts'"
            >NFTs</a
          >
        </nav>
      </div>
      <div class="user">
        <div class="user__notifications">
          <button mat-icon-button aria-label="Notifications">
            <mat-icon matBadge="8" matBadgeColor="primary">notifications_none</mat-icon>
          </button>
        </div>

        <div class="user__selection">
          <img src="/assets/reto.jpg" />
        </div>
      </div>
    </mat-toolbar>
    <div class="content">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <lukso-wrong-network *ngIf="warn.showWarning === true"></lukso-wrong-network>
</ng-container>
