<div class="navbar-container" *ngIf="(showWrongNetworkError$ | async) === false">
  <mat-sidenav-container class="navbar-sidenav-container">
    <mat-sidenav #snav [opened]="true" [mode]="'side'" fixedTopGap="56" class="sidenav">
      <mat-nav-list>
        <a href="/" class="coaster-logo">
          <img src="/assets/coaster_logo.png" />
        </a>
        <h3 mat-subheader>Accounts</h3>

        <ng-container *ngIf="accounts?.length > 0; else noAccounts">
          <a
            mat-list-item
            *ngFor="let account of accounts"
            [routerLink]="['accounts', account.address]"
          >
            <mat-icon mat-list-icon> person </mat-icon>
            <p mat-line>{{ account.address | ethAddressShort }}</p>
          </a>
        </ng-container>
        <ng-template #noAccounts> <a mat-list-item>Create Account</a></ng-template>

        <a id="push-bottom" mat-list-item [routerLink]="['/about']" routerLinkActive="active">
          <mat-icon mat-list-icon> info_outline </mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<lukso-wrong-network *ngIf="(showWrongNetworkError$ | async) === true"></lukso-wrong-network>
