<div class="navbar-container" *ngIf="!(showWrongNetworkError$ | async); else wrongNetwork">
  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary" *ngIf="wallet$ | async as wallet">
    <!-- <button mat-button class="menu-button" (click)="snav.toggle()">
      <mat-icon>{{ snav.opened ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
    &nbsp; -->
    <img src="./../../assets/logo.png" style="height: 30px;" />
    <span class="spacer"></span>
    <mat-icon color="secondary">vpn_key</mat-icon>&nbsp; <span> {{ wallet.address }} </span><br />
    <span class="spacer"></span>

    <mat-icon color="secondary">payments</mat-icon>&nbsp;
    <span> {{ wallet.balance | number: '0.0-4' }} LYX</span>
  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="snav.opened" [mode]="'over'" fixedTopGap="56" class="sidenav">
      <mat-nav-list>
        <h3 mat-subheader>ERC725 Demo</h3>

        <a mat-list-item [routerLink]="['/']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            payments
          </mat-icon>
          <p mat-line>Account</p>
        </a>

        <a mat-list-item [routerLink]="['/account', 123123, 'profile']" disabled>
          <mat-icon mat-list-icon>person</mat-icon>
          <p mat-line>Profile (Soon)</p>
        </a>

        <a id="push-bottom" mat-list-item [routerLink]="['/about']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            info_outline
          </mat-icon>
          <p mat-line>About</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">
      <!-- <div class="progress-bar-container">
        <mat-progress-bar
          color="accent"
          mode="indeterminate"
          *ngIf="spinnerService.visibility | async"
        >
        </mat-progress-bar> -->
      <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      <!-- </div> -->

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #wrongNetwork>
  <lukso-wrong-network></lukso-wrong-network>
</ng-template>
