:host {
  display: block;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  flex-grow: 1;
  max-width: 1400px;
  max-height: 1000px;
}

.content {
  display: grid;
  padding: 0;
  grid-template-columns: 200px 1fr 200px;

  > div {
    grid-column-start: 2;
  }
}
