:host {
  display: block;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  flex-grow: 1;
  max-width: 1400px;
  max-height: 1000px;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;

  > div {
    height: 100%;
  }
}
