:host {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  z-index: 2;
  background: rgb(46, 68, 95);
  background: linear-gradient(-144deg, rgba(46, 68, 95, 1) 0%, rgba(36, 37, 55, 1) 100%);
}

.navbar span {
  font-weight: 300;
  font-size: 15px;
}

.navbar-brand {
  text-decoration: none;
  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: column;
}

.navbar-is-mobile .navbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.navbar-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
             causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.navbar-is-mobile .navbar-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
             `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

/*Set sidenav width*/

mat-sidenav {
  min-width: 180px !important;
  border-right: 1px solid #eee;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
  /* background-color:rgb(63, 81, 181); */
}

/* Set height of wrapper to stop content from moving up & down */

.progress-bar-container {
  height: 5px;
}

a.mat-list-item.active {
  background: rgba(0, 0, 0, 0.04);
}

#push-bottom {
  position: absolute;
  bottom: 0;
}
