@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
  margin-bottom: 20px;
  grid-area: content;
}
h1 {
  color: white;
}
section {
  position: relative;
}

.active {
  color: rgba(0, 0, 0, 0.2);
}

.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
