<h1>Access</h1>
<section>
  <lukso-progress
    *ngIf="keyManagerContract === undefined"
    [accountAddress]="accountAddress"
  ></lukso-progress>
  <ng-container *ngIf="keyManagerContract">
    <lukso-error-message [errorMessage]="error"></lukso-error-message>
    <ng-container *ngIf="keyManagerData$ | async as keyManagerData">
      <lukso-priviliges
        [attr.data-cy]="'privileges__keys'"
        (removeKey)="removeKey($event)"
        (addNewKey)="onAddNewKey($event)"
        (showEditDialog)="onShowEditDialog($event)"
        [keys]="keyManagerData"
      ></lukso-priviliges>
    </ng-container>
  </ng-container>
</section>
