<ng-container *ngIf="networkId$ | async as networkId">
  <lukso-wrong-network *ngIf="networkId !== 22; else l14"></lukso-wrong-network>
</ng-container>

<ng-template #l14>
  <div
    class="vault"
    *ngIf="vault$ | async as vault"
    [ngClass]="{ 'vault--locked': vault.isLocked }"
  >
    <div class="content box">
      <p>
        Address:<br />
        <span class="is-size-4">
          <b>{{ address$ | async | ethAddressShort }}</b></span
        >
      </p>
      <p>
        Account Balance:<br />
        <span class="is-size-2">
          <b>{{ vault.balanceAccount | number: '0.4' }} LYX</b></span
        >
        <br />
      </p>
      <br />
      <p>How much would you like to lock up?</p>
      <div class="field has-addons">
        <p class="control">
          <input
            [formControl]="inputAmount"
            class="input is-large"
            type="text"
            value="2"
            placeholder="Amount of LYX"
            required
          />
        </p>
        <p class="control">
          <button class="button is-large is-static">LYX</button>
        </p>
      </div>

      <div class="buttons has-addons">
        <button class="button" (click)="calculateAmount(vault.balanceAccount, 25)">25%</button>
        <button class="button" (click)="calculateAmount(vault.balanceAccount, 50)">50%</button>
        <button class="button" (click)="calculateAmount(vault.balanceAccount, 75)">75%</button>
        <button class="button" (click)="calculateAmount(vault.balanceAccount, 100)">100%</button>
      </div>

      <lukso-lock-button
        [hasPendingTransaction]="transactions.locking"
        (lockFunds)="onLockFunds()"
      ></lukso-lock-button>
    </div>

    <div class="notification is-success">
      Vault Balance: <br />
      <span class="is-size-2"
        ><b>{{ vault.balanceVault | number: '0.4' }} LYX</b></span
      >
      <br />

      <lukso-withdraw-button
        [hasPendingTransaction]="transactions.withdrawing"
        [vaultLocked]="vault.isLocked"
        (withdrawFunds)="onWithdrawFunds()"
      ></lukso-withdraw-button>

      <span *ngIf="vault.isLocked" class="icon is-large">
        <i class="fas fa-3x fa-lock"></i>
      </span>
    </div>
  </div>
</ng-template>
