/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
  background: #2d3e57;
  background: -webkit-linear-gradient(top right, #2d3e57, #232536);
  background: -moz-linear-gradient(top right, #2d3e57, #232536);
  background: linear-gradient(to bottom left, #2d3e57, #232536);
}

$menu-label-font-size: 1rem;
$menu-item-color: white;

$breadcrumb-item-active-color: white;
$breadcrumb-item-hover-color: white;

$footer-background-color: transparent;
$footer-color: white;

@import '../../../node_modules/bulma/bulma.sass';
