<div class="box box--new" (click)="deployProxyAccount()" matRipple>
  <div class="icon">
    <mat-icon mat-list-icon>add_box</mat-icon>
  </div>
  <br />
  <h1>Create Your On-Chain <br />Wallet / Profile</h1>
  <br />
  <p>This will deploy an ERC-725 Account for you.</p>
  <br />
  <button mat-raised-button color="primary">
    Let's go
  </button>
</div>
<div class="box box--existing" matRipple [matMenuTriggerFor]="menu">
  <div class="icon">
    <mat-icon mat-list-icon>person</mat-icon>
  </div>
  <br />
  <h1>Load Existing Account</h1>
  <br />
  <p>You have already created your account, and just want to access it.</p>
  <br />
  <button mat-raised-button color="primary">
    Select Account
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="true">
    <button
      mat-menu-item
      *ngFor="let account of accounts; let i = index"
      (click)="loadExistingAccount(i)"
    >
      {{ account.address | ethAddressShort }}
    </button>
  </mat-menu>
</div>
<lukso-loading></lukso-loading>
<!-- <button mat-stroked-button class="btn-success">Create Account</button>
  <p>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Address</mat-label>
      <mat-icon matPrefix>vpn_key</mat-icon>
      <input matInput formControlName="address" />
      <mat-error *ngIf="newKeyForm.controls['address'].hasError('isETHAddress')">
        ETH Address check failed
      </mat-error>
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary">Load Existing Account</button> -->
