<div class="box box--new" (click)="deployProxyAccount()" matRipple>
  <div class="icon">
    <img src="assets/49.svg" alt="Account" />
  </div>
  <br />
  <h1>Create Your On-Chain <br />Wallet / Profile</h1>
  <br />
  <p>This will deploy an ERC-725 Account for you.</p>
  <br />
  <button mat-raised-button color="primary" [attr.data-cy]="'new-account__create-account'">
    Let's go
  </button>
</div>
<div class="box box--existing" matRipple [matMenuTriggerFor]="menu">
  <div class="icon">
    <img src="assets/10.svg" alt="Account" />
  </div>
  <br />
  <h1>Load Existing Account</h1>
  <br />
  <p>You have already created your account, and just want to access it.</p>
  <br />
  <button mat-raised-button color="primary">Select Account</button>
  <mat-menu #menu="matMenu" [overlapTrigger]="true">
    <button
      mat-menu-item
      *ngFor="let account of accounts; let i = index"
      (click)="loadExistingAccount(i)"
    >
      {{ account.address | ethAddressShort }}
    </button>
  </mat-menu>
</div>
<lukso-loading></lukso-loading>
