:host {
  display: grid;
  grid-template-columns: 1fr 350px 20px 350px 1fr;
  grid-template-rows: 400px 1fr 400px;
  height: 100%;
}

.box {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
  }
}
.box--new {
  grid-column: 2 / span 1;
  grid-row: 2;
}

.box--existing {
  grid-column: 4 / span 1;
  grid-row: 2;
}

img {
  $icon-size: 120px;
  width: $icon-size;
  height: $icon-size;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}
