<div class="box box--new" domflag>
  <mat-icon mat-list-icon>add_box</mat-icon>
  <button mat-raised-button color="primary" (click)="deployProxyAccount()">
    Create New Account
  </button>
</div>
<div class="box box--existing">
  <mat-icon mat-list-icon>person</mat-icon>
  <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">
    Load Existing Account
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let account of accounts; let i = index"
      (click)="loadExistingAccount(i)"
    >
      {{ account.address | ethAddressShort }}
    </button>
  </mat-menu>
</div>
<lukso-loading></lukso-loading>
<!-- <button mat-stroked-button class="btn-success">Create Account</button>
  <p>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Address</mat-label>
      <mat-icon matPrefix>vpn_key</mat-icon>
      <input matInput formControlName="address" />
      <mat-error *ngIf="newKeyForm.controls['address'].hasError('isETHAddress')">
        ETH Address check failed
      </mat-error>
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary">Load Existing Account</button> -->
