:host {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'signup image';
  height: 100vh;
}

.image {
  grid-area: image;
}

.signup {
  grid-area: signup;
  flex-direction: column;
  justify-content: center;
  background: white;
  color: black;
}

.signup-container {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 100px 1fr min-content min-content min-content 1fr 100px;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .'
    '. . .'
    '. . .'
    '. . .'
    '. . .';
  gap: 20px 20px;
}

.mat-display-1 {
  margin-bottom: 10px;
}

.sub-title {
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.coaster-logo {
  position: relative;
  top: -50px;
  width: 200px;
  margin-bottom: 50px;
}

.mat-display-1 {
  font-weight: bold;
}

.box {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  padding: 40px 60px 40px 40px;
  color: black;
  width: 550px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.521);

  &:hover {
    cursor: pointer;
    color: black;
  }
}

.box--header {
  grid-column: 2;
  grid-row: 3;
}
.box--new {
  grid-column: 2;
  grid-row: 4;
}
.box--existing {
  grid-column: 2;
  grid-row: 5;
}

.icon {
  margin-right: 20px;
  img {
    $icon-size: 90px;
    width: $icon-size;
    height: $icon-size;
  }
}

.call-to-action {
  h2 {
    padding-bottom: 5px;
  }
  p {
    color: rgba(0, 0, 0, 0.5);
  }
}
