<lukso-layout>
  <main class="grid-container" role="main">
    <div class="signup">
      <div class="signup-container">
        <div class="box--header">
          <h1 class="mat-display-1">ERC-725 and ERC-734</h1>
          <h2 class="mat-h2 sub-title">A small DAPP for demonstration purposes.</h2>
        </div>
        <div
          class="box box--new"
          (click)="deployProxyAccount()"
          [attr.data-cy]="'new-account__create-account'"
        >
          <div class="icon">
            <img src="assets/49.svg" alt="Account" />
          </div>
          <div class="call-to-action">
            <h2>Create Your On-Chain Account</h2>
            <p>
              This will deploy your personal ERC-725<br />
              Account on the LUKSO L14 Testnet.
            </p>
          </div>
        </div>
        <div class="box box--existing" [matMenuTriggerFor]="menu">
          <div class="icon">
            <img src="assets/10.svg" alt="Account" />
          </div>
          <div class="call-to-action">
            <h2>Load Existing Account</h2>
            <p>You have already created your account, and just want to access it.</p>
            <mat-menu #menu="matMenu" [overlapTrigger]="true">
              <button
                mat-menu-item
                *ngFor="let account of accounts; let i = index"
                (click)="loadExistingAccount(i)"
              >
                {{ account.address | ethAddressShort }}
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </main>
  <section class="info">
    <h1 style="color: black">What is ERC-725</h1>

    <p>
      ERC-725 is a proposed standard for blockchain-based identity authored by Fabian Vogelsteller,
      creator of ERC 20 and Web3.js. ERC 725 describes proxy smart contracts that can be controlled
      by multiple keys and other smart contracts.
    </p>
    <br />
    <iframe
      width="560"
      height="315"
      src="https://www.youtube-nocookie.com/embed/7u0WGAS1k_Q"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <mat-divider></mat-divider>
    <br /><br />
    <h1 style="color: black">What is ERC-734</h1>

    <p>
      ERC-734 enables you to manage the privileges of certain wallets. Basically wallets (keys)
      become dispensible.
    </p>
  </section>
</lukso-layout>
