@import '/apps/rtm/src/style-mixins.scss';

:host {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 650px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'signup image';
  height: 100vh;
}

.image {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;

  img {
    max-width: 100%;
  }
}

.signup {
  grid-area: signup;
  flex-direction: column;
  justify-content: center;
  background: white;
  color: black;
}

.signup-container {
  height: 100vh;

  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 100px 1fr min-content min-content min-content 1fr 100px;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .'
    '. . .'
    '. . .'
    '. . .';
  gap: 20px 20px;
  overflow: hidden;
}

.mat-display-1 {
  margin-bottom: 10px;
  font-size: 30px;
}

.sub-title {
  color: #000000;
  font-size: 16px;
  margin-bottom: 30px;
}

.coaster-logo {
  position: absolute;
  top: 70px;
  left: 100px;
  height: 40px;
  margin-bottom: 50px;
}

.mat-display-1 {
  font-weight: bold;
}

.box {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  padding: 40px 60px 40px 40px;
  color: black;
  @include ambientShadow;

  &:hover {
    cursor: pointer;
    color: black;
  }
}

.box--header {
  grid-column: 2;
  grid-row: 3;
}
.box--new {
  grid-column: 2;
  grid-row: 4;
}
.box--existing {
  grid-column: 2;
  grid-row: 5;
}

.icon {
  margin-right: 20px;
  img {
    $icon-size: 60px;
    width: $icon-size;
    height: $icon-size;
  }
}

.call-to-action {
  h2 {
    color: #1f263e;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    margin: 0;
    opacity: 1;
  }
  p {
    color: #b2b2b2;
    font-size: 14px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 80px;
  padding: 20px;
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
}
