@import '/apps/rtm/src/style-mixins.scss';

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(200px, 200px) minmax(350px, 1fr);
  gap: 40px;
}

.public-data {
  @include corners;
  @include paddedContent;
  margin-bottom: 40px;
}
