<h1>Management Key</h1>
<h2>Step 3 of 3</h2>
<h3>
  Make sure you actually own the <strong>private</strong> key of the address you specify here. We
  strongly advise to use a hardware wallet.
</h3>
<br />
<form [formGroup]="newKeyForm">
  <ng-container *ngIf="!data.address">
    <p>
      <mat-form-field class="form-field" [@error]="animateError">
        <mat-label>Public Key</mat-label>
        <input matInput formControlName="address" [attr.data-cy]="'add-key__address'" />
        <mat-error *ngIf="newKeyForm.controls['address'].hasError('isETHAddress')">
          Must be a valid ETH Public Key
        </mat-error>
        <mat-hint>This is the address of the wallet you are currently connected with.</mat-hint>
      </mat-form-field>
    </p>
  </ng-container>

  <!-- <h2>Privileges</h2>
  <lukso-checkbox-list
    *ngIf="selectablePrivileges"
    [items]="selectablePrivileges"
    [selected]="data.privileges"
    (selectionChanged)="onPrivilegesChanged($event)"
  ></lukso-checkbox-list>
  <br />
  <mat-error *ngIf="newKeyForm.controls['privileges'].hasError('required')">
    You have to select at least one privilege.
  </mat-error> -->

  <div class="page-actions">
    <button mat-button type="button" (click)="back()">Previous</button>&nbsp;
    <button mat-raised-button color="primary" (click)="next()">Add Key</button>
  </div>
</form>
