@import '/apps/rtm/src/style-mixins.scss';

:host {
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 12px;
  display: flex;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 10000;
  justify-content: center;
}

:host(.darkMode) {
  color: white;
}

:host(.inlined) {
  > div {
    display: inline-block;
  }
}

div {
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.95);
  @include corners;
  @include ambientShadow;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 30px;
}

.inline-spinner {
  display: inline-block;
  margin-left: 3px;
}
