@import '/apps/rtm/src/style-mixins.scss';

:host {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  color: black;
  font-size: 12px;
}

:host(.darkMode) {
  color: white;
}

:host(.inlined) {
  > div {
    display: inline-block;
  }
}

div {
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.95);
  @include corners;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 30px;
}

.inline-spinner {
  display: inline-block;
  margin-left: 3px;
}
