<h1 class="mat-headline">{{ data.title }}</h1>
<p>Explanation text here.</p>
<br />
<form [formGroup]="newKeyForm" (submit)="saveNewKey(newKeyForm)">
  <ng-container *ngIf="!data.address">
    <p>
      <mat-form-field class="form-field">
        <mat-label>Public Key</mat-label>
        <input matInput formControlName="address" [attr.data-cy]="'add-key__address'" />
        <mat-error *ngIf="newKeyForm.controls['address'].hasError('isETHAddress')">
          ETH Address check failed
        </mat-error>
      </mat-form-field>
    </p>
  </ng-container>

  <lukso-checkbox-list
    *ngIf="selectablePrivileges"
    [items]="selectablePrivileges"
    [selected]="data.privileges"
    (selectionChanged)="onPrivilegesChanged($event)"
  ></lukso-checkbox-list>
  <br />
  <mat-error *ngIf="newKeyForm.controls['privileges'].hasError('required')">
    You have to select at least one privilege.
  </mat-error>

  <br /><br />
  <div mat-dialog-actions align="end">
    <button mat-button style="margin-right: 10px" type="button" (click)="onNoClick()">
      Cancel
    </button>
    <lukso-button [text]="data.buttonText"></lukso-button>
    <button>
      {{ data.buttonText }}
    </button>
  </div>
</form>
